{% extends 'base.html.twig' %}

{% block title %}Edit Author - Pubs Admin{% endblock %}

{% block body %}
    <div class="grid">
        <section class="panel">
            <div class="panel-head">
                <div>
                    <h2>Edit {{ author.firstName }} {{ author.lastName }}</h2>
                    <p class="meta">Author ID: {{ author.id }}</p>
                </div>
                <div class="stack">
                    <a class="btn btn-secondary" href="{{ path('author_index') }}">← Back</a>
                </div>
            </div>

            {{ include('author/_form.html.twig', {'button_label': 'Update author'}) }}

            {{ include('author/_delete_form.html.twig', {'author': author}) }}
        </section>
    </div>
{% endblock %}
