{% extends 'base.html.twig' %}

{% block title %}Author {{ author.id }} - Pubs Admin{% endblock %}

{% block body %}
    <div class="grid">
        <section class="panel">
            <div class="panel-head">
                <div>
                    <h2>{{ author.firstName }} {{ author.lastName }}</h2>
                    <p class="meta">Author ID: {{ author.id }}</p>
                </div>
                <div class="stack">
                    <a class="btn" href="{{ path('author_edit', {'id': author.id}) }}">Edit</a>
                    <a class="btn btn-secondary" href="{{ path('author_index') }}">Back</a>
                </div>
            </div>

            <table>
                <tbody>
                <tr>
                    <th>Phone</th>
                    <td>{{ author.phone }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ author.address ?: 'None' }}</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>{{ author.city ?: 'None' }}</td>
                </tr>
                <tr>
                    <th>State</th>
                    <td>{{ author.state ?: 'None' }}</td>
                </tr>
                <tr>
                    <th>ZIP</th>
                    <td>{{ author.zip ?: 'None' }}</td>
                </tr>
                <tr>
                    <th>Contract</th>
                    <td>{{ author.contract ? 'Active' : 'None' }}</td>
                </tr>
                </tbody>
            </table>

            {{ include('author/_delete_form.html.twig', {'author': author}) }}
        </section>
    </div>
{% endblock %}
